<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet"  href="{{url_for('static', filename='main.css')}}">
    <title>Document</title>
</head>
<body >
<div class="Box" >
    <h1> Welcome to Search PostgreSQL details</h1><br>
    <label class="label"> Search PostgreSQL DB Details</label>
    <input type="text" name="SearchText"><br><br>
    <button type="submit" name="Search" class="Button"  >Search</button>
</div>
</body>
</html>
